# Build artefacts
*.o
*.obj
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile
Makefile.*
*.pro.user
*.pro.user.*
qt/uvc-camera/uvc-camera

# Debian packaging leftovers
**/debian/files
**/debian/*.debhelper
**/debian/*.substvars
**/debian/.debhelper/
**/debian/uvc-camera*/

# qmake shadow-build directories
**/obj-*/
